
@*@model List<CustomInscription>*@

@{
    ViewData["Title"] = "Liste des Clients ";
    Layout = "_Layout";
}

<div class="">
    <h4 style="color:orangered;">Liste des Clients @ViewBag.Annee</h4>
    <hr />
</div>

<section class="card box-typical-full-height">
    <div class="card-block " style="overflow-x:scroll;">
        <p>
            @*<h3> Informations Principales</h3>*@
        </p>
        
       


            <div id="example" >
               


                <div id="grid"></div>






            </div>


       



        

       
    </div>

</section>

@section scriptsh {
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.1.0/material.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.11/css/dataTables.material.min.css " type="text/css">*@
    
    <style type="text/css">
    .customer-photo {
        display: inline-block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-size: 32px 35px;
        background-position: center center;
        vertical-align: middle;
        line-height: 32px;
        box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0,0,0,.2);
        margin-left: 5px;
    }

    .customer-name {
        display: inline-block;
        vertical-align: middle;
        line-height: 40px;
        padding-left: 3px;
    }
</style>
    }


@section scripts {
    @*<script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>*@

  @*<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>*@
@*<script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.11/js/dataTables.material.min.js"></script>*@

@*<script src="/js/jquery.lazyload.min.js"></script>*@

<script src="//kendo.cdn.telerik.com/2016.2.504/js/jquery.min.js"></script>
<script src="//kendo.cdn.telerik.com/2016.2.504/js/kendo.all.min.js"></script>
    <script src="/js/clients.js"></script>

<script>
    //$(document).ready(function () {
        
 

    //        $("#grid").kendoGrid({
    //            dataSource: {
    //                type: "json",
    //                transport: {
    //                    read: "ListeClientss"
    //                },
    //                pageSize: 20
    //            },
    //            height: 550,
    //            groupable: true,
    //            sortable: true,
    //            pageable: {
    //                refresh: true,
    //                pageSizes: true,
    //                buttonCount: 7
    //            },
    //            columns: [{
    //                //template: "<div class='customer-photo'" +
    //                //                "style='background-image: url(../content/web/Customers/#:data.CustomerID#.jpg);'></div>" +
    //                //            "<div class='customer-name'>#: ContactName #</div>",
    //                field: "InscriptionId",
    //                title: "ID",
    //                width: 180
    //            }, {
    //                field: "ConfimationNumber",
    //                title: "ConfimationNumber",
    //                width: 200
    //            }, {
    //                field: "Nom",
    //                title: "Nom",
    //                width: 220,
    //                filterable: {
    //                    cell: {
    //                        showOperators: false
    //                    }
    //                }
    //            }, {
    //                field: "datenaisan",
    //                title:"date",
    //                width: 80
    //            }, {
    //                field: "Tel1",
    //                title: "Contact",
    //                width: 120
    //            }, {
    //                field: "Tel2",
    //                title: "Contact 2",
    //                width: 120
    //            }, {
    //                field: "Email",
    //                title: "Email",
    //                width: 130
    //            }]
    //        });
    //    });
</script>


     }
