@model immigrus.Models.Faq

@{
    ViewData["Title"] = "Ajouter FAQ";
}

<h5>Ajouter FAQ</h5>

<form asp-action="Create">
    <div class="form-horizontal">
        <h5>Faq</h5>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Date" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input type="date" asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Questions" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input type="text" asp-for="Questions" class="form-control" />
                <span asp-validation-for="Questions" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Valider" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Retour &agrave; la liste</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
